[page="404"] {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 371px);
}

h1 {
	font-weight: 700;
	font-size: 70px;
	line-height: 80px;
	color: var(--blue);
}